@{
    ViewData["Title"] = "Component page";
}
<h1>@ViewData["Title"]</h1>

<br></br>

<div id="Comapp">
    <h2>
        {{msg}}
    </h2>
    <custom-component>
        {{msg}}
    </custom-component>
</div>

<div id="Comapp2" >
    @*<button v-on:click="isShow =! isShow">Toggle</button>
    <div>
        <transition name="fade">
            <div class="block" v-show="isShow">
            <div class="block" v-if="isSohw">Ponk</div>
            <div class="block" v-else>Bonk</div></div>
        </transition>
    </div>*@
    <div style="height: 120px;">
    <transition>
      <div class="block" v-show="isShow">HELLO VUE</div>
    </transition>
  </div>

  <button v-on:click="isShow =! isShow">Toggle</button>
</div>
