@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br></br>

<div id="app">
    <p>Count: {{ count }}</p>
    <button v-on:click="plus">
        Click Me
    </button>
</div>

<div id="app6" style="width:50%">
        <h3>{{msg}}</h3>
        <my-component v-bind:parent-msg="msg"></my-component>
</div>
